<!-- <mat-toolbar color="primary">
    <span>Angular Basic</span>
    <button mat-button>Grocery</button>
    <button mat-button>Sports</button>
</mat-toolbar> -->
<mat-toolbar color="primary">
    <span>Angular Basic</span>
    <button mat-button routerLink="/sports">Sports</button>
    <button mat-button routerLink="/grocery">Grocery</button>
    <button mat-button routerLink="/home">Home</button>
    <button (click)="addNew()" mat-button>Add New</button>
    <button (click)="login()" mat-icon-button aria-label="login">Login
        <!-- <mat-icon>login</mat-icon> -->
    </button>
</mat-toolbar>